.feature-card {
    border: 1px solid var(--color-dark-300);
    border-radius: 5px;
    padding: 24px;
    width: 282px;
    background: var(--color-dark-transparent-300-40);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.feature-card__icon {
    height: 110px;
    width: 110px;
    object-fit: contain;
}

.feature-card__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 160%;
    text-transform: capitalize;
    text-align: center;
    color: var(--color-light-400);
}

.feature-card__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--color-light-600);
    font-family: var(--second-family);
}