.portfolio-item-overlay {
    position: fixed;
    background: var(--color-dark-600);
    z-index: 10;
    inset: 0;
    backdrop-filter: blur(8px);
    overflow: auto;
}

.portfolio-item-overlay__close-button {
    padding: 10px;
    background: transparent;
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    top: 8vh;
    left: 0;
    border: 1px solid var(--color-dark-transparent-300-40);
    transition: border-color .3s ease-in-out;
}

.portfolio-item-overlay__close-button:hover {
    border-color: #fff;
}

.portfolio-item-overlay__close-button::after {
    position: absolute;
    content: "Back";
    right: -100%;
    color: #fff;
    transform: translateX(20%);
    transition: .3s ease-in-out;
    opacity: 0;
}

.portfolio-item-overlay__close-button:hover::after {
    transform: translateX(0);
    opacity: 1;
}

.portfolio-item-overlay__close-button img {
    width: 16px;
    height: 16px;
}

.portfolio-item-overlay .container {
    max-width: 1260px;
    position: relative;
}

.portfolio-item-overlay__content {
    color: #fff;
    font-family: Poppins;
    padding-top: 15vh;
}

.portfolio-item-overlay__title {
    font-size: 72px;
    line-height: 1;
    margin: 8px 0;
    margin-bottom: 100px;
}

.portfolio-item-overlay__type {
    color: #999;
}

.portfolio-item-overlay__description {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    max-width: 500px;
    font-size: 16px;
    line-height: 1.65;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #999;
}

.portfolio-item-overlay__img {
    width: 100%;
}

.portfolio-item-overlay__project-info {
    display: flex;
    gap: 50px;
    margin-bottom: 80px;
}

.portfolio-item-overlay__project-info-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    padding-top: 15px;
}

.portfolio-item-overlay__project-info-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 0;
    background: #999;
}

.portfolio-item-overlay__project-info-item strong {
    font-size: 18px;
}

.portfolio-item-overlay__project-info-item p {
    display: flex;
    gap: 5px;
    color: #999;
    font-weight: 500;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.portfolio-item-overlay__open-project {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.portfolio-item-overlay__open-project strong {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.portfolio-item-overlay__open-project img {
    width: 18px;
    height: 18px;
}

@media (max-width: 1260px) {
    .portfolio-item-overlay__project-info {
        flex-wrap: wrap;
    }

    .portfolio-item-overlay__description {
        max-width: 100%;
        flex-grow: 1;
    }
}