.section-suptitle {
    font-weight: 400;
    font-size: clamp(14px, 1vw, 18px);
    line-height: 150%;
    text-align: center;
    color: var(--color-light-600);
    font-family: var(--second-family);
}