.page-title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 131%;
  text-transform: capitalize;
  text-align: center;
  color: var(--color-light-300);
}

.page-suptitle {
  font-weight: 400;
  font-size: clamp(16px, 1.2vw, 20px);
  max-width: 700px;

  line-height: 160%;
  text-align: center;
  color: var(--color-light-600);
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.container {
  width: calc(100% - 20px);
  max-width: 1536px;
  margin: 0 auto;
}

main {
  margin: 192px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.primary-section {
  /* border: 1px solid var(--color-dark-300); */
  border-radius: 5px;
  padding: 156px 15px;
  width: 100%;
  max-width: 1536px;
  /* background: var(--color-dark-transparent-200-20); */
  margin: 0 auto;
}

/* .primary-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-image: url(assets/Hero/stars.png);
} */       
.feature-card-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

